.App {
  width: 100%;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.game-wrapper {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.records-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.89);
  color: white;
  font-size: 3.5vmin;
}

.records-grid-wrapper {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.records-title {
  font-size: 6.6vmin;
  font-weight: bold;
  margin-bottom: 3vmin;
  display: block;
}

.records-spinner {
  padding: 5vmin 0;
  display: block;
}

.records-grid {
  width: 90vmin;
  text-align: center;
}

.records-grid th {
  font-size: 5vmin;
  color: rgb(86, 216, 0);
}

.records-button {
  border: 1px solid rgb(90, 120, 202);
  color: white;
  width: 90vmin;
  vertical-align: middle;
  font-size: 6vmin;
  font-family: 'Courier';
  padding: 7vmin 0;
  display: inline-table;
  margin-top: 4vmin;
  text-align: center;
  background-color: rgb(0, 45, 104);
}

.records-button:hover { 
  background-color: rgb(0, 69, 160);
  cursor: pointer;
}

.records-button-disabled {
  border: 1px solid rgb(78, 78, 78);
  background-color: transparent;
  color: rgb(128, 128, 128);
}

.records-button-disabled:hover {
  background-color: transparent;
}

.records-input {
  background-color: transparent;
  width: 84vmin;
  padding: 7vmin 3vmin;
  color: white;
  font-size: 6vmin;
  font-family: 'Courier';
}

.records-input-error {
  border-color: red;
}

@media only screen and (min-width:1025px) {
  .records-wrapper {
    font-size: 2vmin;
  }
  .records-button {
    padding: 3vmin 0;
  }
}

.header {
  color: white;
  height: 15vmin;
  display: table;
  width: 100%;
}

.header-time {
  display: table-cell;
  vertical-align: middle;
  font-size: 8vmin;
}

.flag-toggle {
  position: absolute;
  right: 0;
  top: -2vmin;
  font-size: 10vmin;
  user-select: none;
  outline: none;
  background-color: #313131;
  height: 15vmin;
  width: 15vmin;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

@media only screen and (min-width:1025px) {
  .flag-toggle { display: none; }
}

.flag-toggle span {
  left: 25%;
  top: 10%;
  position: absolute;
}

.gray-filter {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.grid {
  border: 0.05vmin dotted rgb(39, 99, 0);
  margin: 0 auto;
  cursor: pointer;
  border-spacing: 0px;
}

.cell-td {
  padding: 0px !important;
}

.cell-wrapper {
  display: table;
  table-layout: fixed;
  padding: 0;
  border-spacing: 0px;
  font-size: 3vmin;
  width: 5vmin;
  height: 5vmin;
}

.cell {
  text-align: center;
  vertical-align: middle;
  border: 0.05vmin solid rgb(0, 0, 0);
  display: table-cell;
}

@media only screen and (max-width:1025px) {
  .cell-level-20 {
    font-size: 2.7vmin;
    width: 2.7vmax;
    height: 2.7vmax;
  }

  .cell-level-19 {
    font-size: 2.9vmin;
    width: 2.9vmax;
    height: 2.9vmax;
  }

  .cell-level-18 {
    font-size: 3.1vmin;
    width: 3.1vmax;
    height: 3.1vmax;
  }

  .cell-level-17 {
    font-size: 3.3vmin;
    width: 3.3vmax;
    height: 3.3vmax;
  }

  .cell-level-16 {
    font-size: 3.5vmin;
    width: 3.5vmax;
    height: 3.5vmax;
  }

  .cell-level-15 {
    font-size: 3.7vmin;
    width: 3.7vmax;
    height: 3.7vmax;
  }

  .cell-level-14 {
    font-size: 4vmin;
    width: 4vmax;
    height: 4vmax;
  }

  .cell-level-13 {
    font-size: 4.3vmin;
    width: 4.3vmax;
    height: 4.3vmax;
  }

  .cell-level-12 {
    font-size: 4.6vmin;
    width: 4.6vmax;
    height: 4.6vmax;
  }

  .cell-level-11 {
    font-size: 5vmin;
    width: 5vmax;
    height: 5vmax;
  }

  .cell-level-10 {
    font-size: 5.5vmin;
    width: 5.5vmax;
    height: 5.5vmax;
  }

  .cell-level-9 {
    font-size: 6vmin;
    width: 6vmax;
    height: 6vmax;
  }

  .cell-level-8 {
    font-size: 7vmin;
    width: 7vmax;
    height: 7vmax;
  }

  .cell-level-7 {
    font-size: 8vmin;
    width: 8vmax;
    height: 8vmax;
  }

  .cell-level-6 {
    font-size: 9vmin;
    width: 9vmax;
    height: 9vmax;
  }

  .cell-level-5 {
    font-size: 11vmin;
    width: 11vmax;
    height: 11vmax;
  }

  .cell-level-4 {
    font-size: 13.5vmin;
    width: 13.5vmax;
    height: 13.5vmax;
  }
}

@media only screen and (min-width:1025px) {
  .cell-level-20 {
    font-size: 1.6vmax;
    width: 2.5vmax;
    height: 2.5vmax;
  }

  .cell-level-19 {
    font-size: 1.9vmax;
    width: 2.7vmax;
    height: 2.7vmax;
  }

  .cell-level-18 {
    font-size: 2.1vmax;
    width: 2.9vmax;
    height: 2.9vmax;
  }

  .cell-level-17 {
    font-size: 2.3vmax;
    width: 3.1vmax;
    height: 3.1vmax;
  }

  .cell-level-16 {
    font-size: 2.4vmax;
    width: 3.3vmax;
    height: 3.3vmax;
  }

  .cell-level-15 {
    font-size: 2.6vmax;
    width: 3.6vmax;
    height: 3.6vmax;
  }

  .cell-level-14 {
    font-size: 2.7vmax;
    width: 3.7vmax;
    height: 3.7vmax;
  }

  .cell-level-13 {
    font-size: 4vmin;
    width: 5.5vmin;
    height: 5.5vmin;
  }

  .cell-level-12 {
    font-size: 4vmin;
    width: 6vmin;
    height: 6vmin;
  }

  .cell-level-11 {
    font-size: 4.5vmin;
    width: 6.5vmin;
    height: 6.5vmin;
  }

  .cell-level-10 {
    font-size: 5vmin;
    width: 7.5vmin;
    height: 7.5vmin;
  }

  .cell-level-9 {
    font-size: 5.5vmin;
    width: 8vmin;
    height: 8vmin;
  }

  .cell-level-8 {
    font-size: 6vmin;
    width: 9vmin;
    height: 9vmin;
  }

  .cell-level-7 {
    font-size: 7.5vmin;
    width: 10.5vmin;
    height: 10.5vmin;
  }

  .cell-level-6 {
    font-size: 8.5vmin;
    width: 12.5vmin;
    height: 12.5vmin;
  }

  .cell-level-5 {
    font-size: 10vmin;
    width: 15vmin;
    height: 15vmin;
  }

  .cell-level-4 {
    font-size: 10vmin;
    width: 17vmin;
    height: 17vmin;
  }
}

.cell-closed {
  background-color: rgb(81, 154, 0);
}

.cell-bomb {
  background-color: rgb(255, 106, 106);
  border: 0.05vmin dotted rgb(170, 0, 0);
}

.cell-number {
  background-color: transparent;
  border: 0.05vmin dotted rgb(86, 216, 0);
}

.cell-empty {
  border: 0.05vmin dotted rgb(86, 216, 0);
}

.cell-flag {
  background-color: transparent;
  border: 0.05vmin dotted rgb(86, 216, 0);
}

.innerText {
  width: 100%;
  color: rgb(86, 216, 0);
}

.footer {
  color: white;
  height: 15vmin;
  width: 100%;
  display: table;
}

.footer-row {
  display: table-row;
  padding-top: 4vmin;
}

.footer-left {
  display: table-cell;
  max-width: 10vmin;
  min-width: 10vmin;
  vertical-align: middle;
}

.footer-right {
  display: table-cell;
  vertical-align: middle;
}

.footer-inner-label {
  font-size: 3vmin;
}

.footer-again {
  border: 1px solid white;
  width: 80%;
  display: inline-block;
  vertical-align: middle;
  font-size: 4vmin;
  padding: 2vmin 0;
}

.footer-again:hover { 
  background-color: rgb(0, 45, 104);
  cursor: pointer;
  border-color: rgb(90, 120, 202);
}

.rangeslider {
  margin-top: 0;
}

.rangeslider__handle {
  background-color: rgba(255, 255, 255, 0.39) !important;
  outline: none;
}

.rangeslider-horizontal .rangeslider__handle:after {
  display: none;
}

.rangeslider__handle-label {
  color: black;
  margin-top: 20%;
  user-select: none;
  outline: none;
}